.album-info {
  background-color: whitesmoke;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

.album-info img {
  box-shadow: 0 5px 8px 1px gray;
  width: 100px;
}

.album-name {
  font-weight: 500;
}
